name: Backport
on:
  pull_request:
    types:
      - closed
      - labeled

jobs:
  backport:
    runs-on: ubuntu-18.04
    name: Backport
    steps:
      - name: Backport
        uses: ewanharris/backport@v1.0.28-1
        with:
          bot_username: ewanharris
          bot_token: b718b5dfad4c2e1052f9d9ee53c24d4995545181
          bot_token_key: 3f70c476377dfb2981ae443936fd4a39b3f03ed7
          github_token: ${{ secrets.GITHUB_TOKEN }}
